.pageWrapper {
    min-height: 100vh;
    background-color: var(--bg-dark);
}

.main {
    padding-left: 80px;
    /* Space for island sidebar */
    padding-bottom: var(--space-4xl);
}

.contentLayout {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .main {
        padding-left: 0;
    }

    .contentLayout {
        flex-direction: column;
    }
}